@import "../../styles/variables";

.login-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: nowrap;
	margin: 20px;
	color: $primary-color;
	width: 400px;
	border-radius: 8px;
	box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.8);

	h2 {
		margin-top: 35px;
		margin-bottom: 0px;
		font-weight: bold;
		font-size: 28px;
		text-align: center;
	}
}

.btn-block {
	display: inline-block;
	width: 100%;
	color: $primary-color;
	background: white;
	font-size: 20px;
	padding: 10px;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 25px;
	border: none;
	transition: all 0.2s linear;
	cursor: pointer;

	&:hover {
		background: rgb(231, 229, 229);
		transition: all 0.2s linear;
	}
}

.login-form {
	width: 100%;
	padding: 15px;
}
