@import "../../styles/variables";

.signout-btn {
	display: inline-block;
	width: 100%;
	color: $error-color;
	background: white;
	font-size: 20px;
	padding: 10px;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 25px;
	border: none;
	transition: all 0.2s linear;
	cursor: pointer;

	&:hover {
		background: rgb(231, 229, 229);
		transition: all 0.2s linear;
	}
}
